h1{color: turquoise;font-family:monospace}

h2{color: snow;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

h3{color: palegreen;font-size:x-large}

h4{color: cornflowerblue;font-family: cursive;font-size:x-large}

li{color:blue;font-family:'Times New Roman', Times, serif;font-size: larger;}

body{background-color: lightcoral}